@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>

<body>
    <div> 
        <h1 class="glyphicon-align-center">Welcome to MVC Home Page</h1><br />
        <h2>The current Date and Time is :- @ViewBag.MyTime</h2>
    </div>
</body>

</html>
